

            <section id="catalog">
                <h1>All Movies</h1>
                <div class="band">

                    <!-- If there are posts for creature in the database display each of them -->
                    {{> catalog}}
                    <!-- If there are still no posts in the database display: -->
                    
                </div>
            </section>
        